<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="container">
        <div class="dashboard">
            <div class="dashboard-item">
                <h2>Temperatura Esterna</h2>
                <p>25°C</p>
            </div>
            <div class="dashboard-item">
                <h2>Umidità Esterna</h2>
                <p>60%</p>
            </div>
            <div class="dashboard-item">
                <h2>Temperatura Interna</h2>
                <p>22°C</p>
            </div>
            <div class="dashboard-item">
                <h2>Umidità Interna</h2>
                <p>55%</p>
            </div>
            <div class="dashboard-item">
                <h2>Umidità del Terreno</h2>
                <p>40%</p>
            </div>
            <div class="dashboard-item">
                <h2>Livello d'Acqua del Serbatoio</h2>
                <p>75%</p>
            </div>
        </div>
        
        <h1>Seleziona Interfaccia Desiderata</h1>
        <a href="/piante" class="button">PIANTE</a>
        <a href="/sensori" class="button">SENSORI</a>
        <a href="/storico" class="button">STORICO</a>
    </div>
</body>
</html>
