<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Piante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/piante.css') }}">
</head>
<body>
    <nav class="nav">
        <a href="/home">Home</a>
        <a href="/sensori">Sensori</a>
        <a href="/storico">Storico</a>
    </nav>
    <div style="text-align: center;">
        <h1>Piante</h1>
        <div class="grid-container">
            {% for pianta in piante %}
            <div class="pianta-box">
                <img src="{{ url_for('static', filename='piante/pianta' + loop.index|string + '.jpg') }}" alt="{{ pianta.nome }}">
                <h2>{{ pianta.nome }}</h2>
                <p>{{ pianta.descrizione }}</p>
                <h3>Requisiti:</h3>
                <ul>
                    <li><strong>Temperatura:</strong> {{ pianta.temperatura }}</li>
                    <li><strong>Umidità:</strong> {{ pianta.umidita }}</li>
                    <li><strong>Esposizione:</strong> {{ pianta.esposizione }}</li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
