<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Sensori e Attuatori</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sensori.css') }}">
</head>
<body>
    <nav class="nav">
        <a href="/home">Home</a>
        <a href="/piante">Piante</a>
        <a href="/storico">Storico</a>
    </nav>
    <main class="container">
        <h1>Sensoristica</h1>
        
        <section class="section">
            <h2>Sensori Generali</h2>
            <article class="item">
                <div class="description">
                    <p><span><strong>Nome:</strong></span> <span>DHT11 Interno Serra</span></p>
                    <p><span><strong>Descrizione:</strong></span> <span>Misura la temperatura e l'umidità ambientale</span></p>
                </div>
                <div class="status"><strong>Attivo</strong></div>
                <div class="indicator active"></div>
            </article>
            <article class="item">
                <div class="description">
                    <p><span><strong>Nome:</strong></span> <span>SE482048</span></p>
                    <p><span><strong>Descrizione:</strong></span> <span>Misura il livello dell'acqua nel serbatoio</span></p>
                </div>
                <div class="status"><strong>Inattivo</strong></div>
                <div class="indicator inactive"></div>
            </article>
        </section>
        
        <section class="section">
            <h2>Sensori per pianta</h2>
            <article class="item">
                <div class="description">
                    <p><span><strong>Nome:</strong></span> <span>DHT11 Basilico</span></p>
                    <p><span><strong>Descrizione:</strong></span> <span>Misura l'umidità del suolo intorno al Basilico</span></p>
                </div>
                <div class="status"><strong>Standby</strong></div>
                <div class="indicator standby"></div>
            </article>
            <article class="item">
                <div class="description">
                    <p><span><strong>Nome:</strong></span> <span>DHT11 Prezzemolo</span></p>
                    <p><span><strong>Descrizione:</strong></span> <span>Misura l'umidità del suolo intorno al Prezzemolo</span></p>
                </div>
                <div class="status"><strong>Attivo</strong></div>
                <div class="indicator active"></div>
            </article>
            <article class="item">
                <div class="description">
                    <p><span><strong>Nome:</strong></span> <span>DHT11 Coriandolo</span></p>
                    <p><span><strong>Descrizione:</strong></span> <span>Misura l'umidità del suolo intorno al Coriandolo</span></p>
                </div>
                <div class="status"><strong>Standby</strong></div>
                <div class="indicator standby"></div>
            </article>
            <article class="item">
                <div class="description">
                    <p><span><strong>Nome:</strong></span> <span>DHT11 Menta</span></p>
                    <p><span><strong>Descrizione:</strong></span> <span>Misura l'umidità del suolo intorno alla Menta</span></p>
                </div>
                <div class="status"><strong>Standby</strong></div>
                <div class="indicator standby"></div>
            </article>
        </section>
        
    </main>
</body>
</html>
